@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso no permitido";
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su Usuario no tiene permisos para acceder a este recurso.</p>
</header>
