@model prjbase.Models.NotaRemision


@{
    ViewData["Category"] = "Notas de Remisión";
    ViewData["controller"] = "NotaRemisions";
    ViewData["Title"] = "Editar detalle de nota de remisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_EncabezadoProp" />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="IdProgramacion" class="control-label"></label>
        <select asp-for="IdProgramacion" class="js-example-basic-single form-control" asp-items="ViewBag.IdProgramacions">
            <option value="">Seleccione una opci&oacute;n</option>
        </select>
        <span asp-validation-for="IdProgramacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCentroEducativo" class="control-label"></label>
        <select asp-for="IdCentroEducativo" class="js-example-basic-single form-control" asp-items="ViewBag.IdCentroEducativo">
            <option value="">Seleccione una opci&oacute;n</option>
        </select>
        <span asp-validation-for="IdCentroEducativo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdProducto" class="control-label"></label>
        <select asp-for="IdProducto" class="js-example-basic-single form-control" asp-items="ViewBag.IdProducto"></select>
        <span asp-validation-for="IdProducto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cantidad" class="control-label"></label>
        <input asp-for="Cantidad" class="form-control" />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>


