@model prjbase.Models.Focalizacion

@{
    ViewData["Category"] = "Focalización";
    ViewData["controller"] = "Focalizacions";
    ViewData["Title"] = "Editar focalizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_EncabezadoProp" />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
